<?xml version="1.0"?>

<model>
  <name>Green nao robot v4</name>
  <version>1.0</version>
  <sdf version="1.5">GreenNao.sdf</sdf>

  <author>
    <name>Eva Fernández de la Cruz</name>
    <email>evaferdelacruz@gmail.com</email>
  </author>

  <description>
    A model of the Nao.
    Taken from https://app.gazebosim.org/OpenRobotics/fuel/models/NAO%20with%20Ignition%20position%20controller
  </description>

</model>
